[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
boto3-stubs = {extras = ["essential","ses"], version = "*"}
click = "*"
sentry-sdk = "*"

[dev-packages]
black = "*"
coveralls = "*"
moto="*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
dsc = "python -c \"from dsc.cli import main; main()\""
