[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
boto3-stubs = {extras = ["essential","ses"], version = "*"}
click = "*"
fsspec = "*"
jinja2 = "*"
jsonschema = "*"
pandas = "*"
pynamodb = "*"
requests = "*"
s3fs = "*"
sentry-sdk = "*"
smart_open = {extras = ["s3"], version = "*"}

[dev-packages]
black = "*"
coveralls = "*"
freezegun = "*"
moto = {version="*", extras=["server"]}
mypy = "*"
pandas-stubs = "*"
pip-audit = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
types-jsonschema = "*"

[requires]
python_version = "3.12"

[scripts]
dsc = "python -c \"from dsc.cli import main; main()\""